<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add Product</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Add a Customer:</h1>


<form th:action="@{/addCustomer}"
      th:object="${customerForm}" method="POST">
    Name:
    <input type="text" th:field="*{name}" />
    <br/>
    Email:
    <input type="text" th:field="*{email}" />
    <br/>
    City:
    <input type="text" th:field="*{city}" />
    <br/>
    Age:
    <input type="text" th:field="*{age}" />
    <input type="submit" value="Create" />
</form>

<br/>

<!-- Check if errorMessage is not null and not empty -->

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>

</body>
</html>