<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Product List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Product List</h1>
<a href="addCustomer">Add Customer</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>City</th>
            <th>Age</th>
        </tr>
        <tr th:each ="customer : ${customersList}">
            <td th:utext="${customer.id}">...</td>
            <td th:utext="${customer.name}">...</td>
            <td th:utext="${customer.email}">...</td>
            <td th:utext="${customer.city}">...</td>
            <td th:utext="${customer.age}">...</td>

        </tr>
    </table>
</div>
</body>
</html>